@model CustomerManagement.Models.Payment

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Payment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PaymentId" />
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label">Customer</label>
                <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
                <a asp-controller="Customer" asp-action="Create" class="btn btn-link">Create New Customer</a>
                <a asp-controller="Customer" asp-action="DetailsPayment" asp-route-paymentId="@Model.PaymentId">View Customer</a>
            </div>
            <div class="form-group">
                <label asp-for="ServiceId" class="control-label"></label>
                <select asp-for="ServiceId" class="form-control" asp-items="ViewBag.ServiceId"></select>
                <span asp-validation-for="ServiceId" class="text-danger"></span>
                <a asp-controller="Service" asp-action="Create" class="btn btn-link">Create New Service</a>
                <a asp-controller="Service" asp-action="DetailsPayment" asp-route-paymentId="@Model.PaymentId">View Service</a>
            </div>
            <div class="form-group">
                <label asp-for="PaymentStatusId" class="control-label"></label>
                <select asp-for="PaymentStatusId" class="form-control" asp-items="ViewBag.PaymentStatusId"></select>
                <span asp-validation-for="PaymentStatusId" class="text-danger"></span>
                <a asp-controller="PaymentStatus" asp-action="Create" class="btn btn-link">Create New Payment Status</a>
                <a asp-controller="PaymentStatus" asp-action="Details" asp-route-paymentId="@Model.PaymentId">View Payment Status</a>
            </div>
            <div class="form-group">
                <label asp-for="PayDay" class="control-label"></label>
                <input asp-for="PayDay" class="form-control" />
                <span asp-validation-for="PayDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountPaid" class="control-label"></label>
                <input asp-for="AmountPaid" class="form-control" />
                <span asp-validation-for="AmountPaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
